

.container{
	width: 50vh;
	height: 50vh;
	border: 2px solid darkblue;
}

.display{
	background-color: palegoldenrod;
	height: 15%;
}

.keypad{
	background-color: orange;
	height: 85%;
	display: flex;
}

.right-side{
	background-color: lightpink;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.operator{
	flex: 1;
}


.left-side{
	background-color: skyblue;
	flex: 3;
	display: flex;
	flex-direction: column;
}

.top, .bottom{
	flex: 1;
	display: flex;
}

.top button, .bottom button {
	flex: 1;
}

.middle{
	flex: 2;
	display: flex;
	flex-direction: column;
}


.middle div{
	flex: 1;
	display: flex;
}

.middle div button{
	flex: 1;
}
