*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 5px;
	height: 600px;
	width: 400px;
	display: flex;
	flex-direction: column;
	background-color: silver;
}

.container div{
	flex: 1;
	display: flex;
}

div button{
	border: 1px solid black;
	border-radius: 5px;
	flex: 1;
	font-size: 20px;
	font-weight: 700;
}

.large{
	flex: 3;
}

.medium{
	flex: 2;
}

.display{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
	font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	color: greenyellow ;
	background-color: black;
	letter-spacing: 2px;
}

.digit{
	background-color: lightgray;
}

.operator{
	background-color: orange;
}