*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	margin: 0 auto;
	border: 1px solid black;
	height: 600px;
	width: 400px;
	display: flex;
	flex-direction: column;
}

.container div{
	flex: 1;
	display: flex;
}

div button{
	border: 1px solid red;
	border-radius: 8px;
	flex: 1;
}

.large{
	flex: 3;
}

.medium{
	flex: 2;
}

.display{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
	font-size: 20px;
}